$container-small: 440px !default;
$container-medium: 750px !default;
$container-large: 880px !default;

$spacingSizes: ('0': 0, '1': 5px, '2': 10px, '3': 20px, '4': 40px, '5': 60px, '6': 80px, '7': 100px) !default;
