$info: #d9edf7 !default;
$success: #d6e9c6 !default;
$warning: #fcf8e3 !default;
$danger: #ebccd1 !default;

$info-invert: #31708f !default;
$success-invert: #3c763d !default;
$warning-invert: #8a6d3b !default;
$danger-invert: #a94442 !default;

$container-small: 440px !default;
$container-medium: 750px !default;
$container-large: 880px !default;

$spacingSizes: ('0': 0, '1': 5px, '2': 10px, '3': 20px, '4': 40px, '5': 60px, '6': 80px, '7': 100px) !default;
