$container-small: 440px !default;
$container-medium: 750px !default;
$container-large: 880px !default;

$spacingSizes: ('0': 0, '1': 0.5rem, '2': 1rem, '3': 2rem, '4': 2.5rem, '5': 3rem, '6': 4rem) !default;
