$width: 3px;
$height: 10px;

.arrow {
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    top: 50%;
    left: 50%;
    content: "";
    width: $width;
    height: $height;
    position: absolute;
    background-color: #fff;
    backface-visibility: hidden;
    @include transition;
  }

  &:after {
    transform: translate(1px, -#{$height / 2}) rotate(-45deg);
  }
  &:before {
    margin-left: -#{$width};
    transform: translate(-1px, -#{$height / 2}) rotate(45deg);
  }
  
  &.is-small {
    $width: 2px;
    $height: 8px;

    &:before,
    &:after {
      width: $width;
      height: $height;
    }
    
    &:after {
      transform: translate(1.2px, -#{$height / 2}) rotate(-45deg);
    }
    &:before {
      margin-left: -#{$width};
      transform: translate(-1.2px, -#{$height / 2}) rotate(45deg);
    }
  }

  &.is-large {
    $width: 4px;
    $height: 14px;

    &:before,
    &:after {
      width: $width;
      height: $height;
    }

    &:after {
      transform: translate(1.6px, -#{$height / 2}) rotate(-45deg);
    }
    &:before {
      margin-left: -#{$width};
      transform: translate(-1.6px, -#{$height / 2}) rotate(45deg);
    }
  }
}