.arrow {
  // font-size: 0px;
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    top: 50%;
    left: 50%;
    width: 3px;
    height: 10px;
    content: "";
    position: absolute;
    background-color: #fff;
    backface-visibility: hidden;
    @include transition;
  }

  &:before {
    transform: translate(1px, -6px) rotate(-45deg);
  }
  &:after {
    transform: translate(-5px, -6px) rotate(45deg);
  }
  
  &.is-small {
    &:before,
    &:after {
      width: 2px;
      height: 8px;
    }
    
    &:after {
      transform: translate(-4px, -6px) rotate(45deg);
    }
  }

  &.is-large {
    &:before,
    &:after {
      width: 4px;
      height: 14px;
    }

    &:before {
      transform: translate(2px, -6px) rotate(-45deg);
    }
    &:after {
      transform: translate(-6px, -6px) rotate(45deg);
    }
  }
}