$menu-color: $link !default;

.menu-icon {
    width: 20px;
    font-size: 0px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    > span {
        opacity: 1;
        width: 100%;
        height: 3px;
        margin-bottom: 3px;
        display: inline-block;
        backface-visibility: hidden;
        background-color: $menu-color;
        transition: all .25s ease-in-out;
    }

    .is-active & {
        span {
            color: $link-hover;
        }

        > span:nth-child(2) {
            opacity: 0;
        }
        > span:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px);
        }
        > span:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -4px);
        }
    }
}