.progress {
  @include block;

  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  height: $size-normal;
  border-radius: 100px;
  background-color: $border;

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    content: '';
    position: absolute;
    background-color: $text;

    @include transition;
  }

  // Colors
  @each $name, $pair in $colors {
    $color: nth($pair, 1);

    &.is-#{$name} {
      &:before {
        background-color: $color;
      }
    }
  }

  // Sizes
  &.is-small {
    height: $size-small;
  }

  &.is-medium {
    height: $size-medium;
  }

  &.is-large {
    height: $size-large;
  }
}