.wrap {
    @include wrap($widescreen - (remToPx($wrap-pad) * 2));

    // Modifiers
    &.is-fluid {
        max-width: none;
        margin-left: $wrap-pad;
        margin-right: $wrap-pad;
    }
    
    .wrap,
    .wrap-s,
    .wrap-m,
    .wrap-l {
        padding-left: 0;
        padding-right: 0;
    }
}

.wrap-s {
    @include wrap($wrap-s);
}
.wrap-m {
    @include wrap($wrap-m);
}
.wrap-l {
    @include wrap($wrap-l);
}

.wrap-half-desktop {
  width: 100%;
  @include desktop {
    max-width: ($widescreen - (remToPx($wrap-pad) * 2)) / 2;
  }
}

@include tablet {
    .wrap-tablet {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
    .wrap-half-tablet {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      max-width: ($widescreen - (remToPx($wrap-pad) * 2)) / 2;
    }
}
@include until($tablet) {
    .wrap-until-tablet {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}
@include tablet-only {
  .wrap-tablet-only {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}

@include desktop {
    .wrap-desktop {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}
@include until($desktop) {
    .wrap-until-desktop {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}

@include widescreen {
    .wrap-widescreen {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}
@include until($widescreen) {
    .wrap-until-widescreen {
        @include wrap($widescreen - (remToPx($wrap-pad) * 2));
    }
}