.columns-holder {
    padding: 0.75rem
}

.column {
  @for $i from 1 through 12 {
    .columns.is-mobile > &.is-offset-#{$i} {
      margin-left: $i / 12 * 100% !important;
    }
  }

  @include mobile {
    @for $i from 1 through 12 {
      &.is-offset-#{$i}-mobile {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }

  @include tablet {
    @for $i from 1 through 12 {
      &.is-offset-#{$i},
      &.is-offset-#{$i}-tablet {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }

  @include touch {
    @for $i from 1 through 12 {
      &.is-offset-#{$i}-touch {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }

  @include desktop {
    @for $i from 1 through 12 {
      &.is-offset-#{$i}-desktop {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }

  @include widescreen {
    @for $i from 1 through 12 {
      &.is-offset-#{$i}-widescreen {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }

  @include fullhd {
    @for $i from 1 through 12 {
      &.is-offset-#{$i}-fullhd {
        margin-left: $i / 12 * 100% !important;
      }
    }
  }
}
