// Text
.is-underlined {
    text-decoration: underline !important;
}

.has-text-default {
    color: $text !important;
}

// Rotated
.is-rotated-90 {
    transform: rotate(90deg)
}

.is-rotated-180 {
    transform: rotate(180deg)
}

.is-rotated-270 {
    transform: rotate(270deg)
}

.is-rounded {
    border-radius: 9999px;
}

// Inline block  alignment
.is-middle {
    vertical-align: middle !important;
}

.is-top {
    vertical-align: top !important;
}

.is-flex-end {
    align-self: flex-end !important;
}

// Margins and Padding
@include margin-padding($spacingSizes);

@include mobile {
    @include margin-padding($spacingSizes, '-mobile');
}

@include tablet {
    @include margin-padding($spacingSizes, '-tablet');
}

@include touch {
    @include margin-padding($spacingSizes, '-touch');
}

@include desktop {
    @include margin-padding($spacingSizes, '-desktop');
}

@include widescreen {
    @include margin-padding($spacingSizes, '-widescreen');
}

@include fullhd {
    @include margin-padding($spacingSizes, '-fullhd');
}
