// Display
$displays: ('hidden': none, 'block': block, 'flex': flex, 'inline': inline, 'inline-block': inline-flex);

@each $class, $display in $displays {
  .is-#{$class} {
    display: #{$display} !important;
  }

  .is-#{$class}-mobile {
    @include mobile {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-tablet {
    @include tablet {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-tablet-only {
    @include tablet-only {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-touch {
    @include touch {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-desktop {
    @include desktop {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-desktop-only {
    @include desktop-only {
      display: #{$display} !important;
    }
  }

  .is-#{$class}-widescreen {
    @include widescreen {
      display: #{$display} !important;
    }
  }
}

// Float
.is-clearfix {
  @include clearfix;
}

.is-pulled-left {
  float: left;
}

.is-pulled-right {
  float: right;
}

// Overflow
.is-clipped {
  overflow: hidden !important;
}

// Overlay
.is-overlay {
  @include overlay;
}

// Scrollable
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Rotated
.is-rotated-90 {
  transform: rotate(90deg)
}
.is-rotated-180 {
  transform: rotate(180deg)
}
.is-rotated-270 {
  transform: rotate(270deg)
}

// Rounding
.is-round {
    border-radius: 50%;
    background-color: $white;
}
.is-rounded {
    border-radius: $radius;
}
.is-rounded-large {
    border-radius: $radius-large;
}

// Inline block  alignment
.is-middle {
  vertical-align: middle !important;
}

.inline-list {
  display: flex;
  flex-direction: row;
}

// Margins and Padding
$spacingSizes: ('0': 0, '1': 5px, '2': 10px, '3': 20px, '4': 40px, '5': 60px) !default;
@include margin-padding($spacingSizes);

// Text
$alignments: left right center;
@each $alignment in $alignments {
  .align-#{$alignment} {
    text-align: $alignment;
  }
}

.is-white-text {
  color: $white !important;
  * {
    color: $white !important;
  }
}

@include tablet {
  @include margin-padding($spacingSizes, '-tablet');

  @each $alignment in $alignments {
    .align-#{$alignment}-tablet {
      text-align: $alignment;
    }
  }
}

@include desktop {
  @include margin-padding($spacingSizes, '-desktop');

  @each $alignment in $alignments {
    .align-#{$alignment}-desktop {
      text-align: $alignment;
    }
  }
}

@include widescreen {
  @include margin-padding($spacingSizes, '-widescreen');

  @each $alignment in $alignments {
    .align-#{$alignment}-widescreen {
      text-align: $alignment;
    }
  }
}

// Other
.is-disabled {
  pointer-events: none;
}

.is-unselectable {
  @include unselectable;
}